.Navbar_container{
    width: 100%;
    height: 8rem;
    padding: 4vh 3vw 1rem 3vw;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .5s ease-in-out , background .2s linear;
    text-shadow: 1px 3px 15px ;
}

.Navbar_container h3{
    color: var(--color-text-03-);
    font-family: "anton";
    font-weight: 200;
}

.Link_part{
    display: flex;
    gap: 15vw;
    height: 100%;
    align-items: center;
}

.Link_part a{
    text-decoration: none;
    color: var(--color-text-01-);
    text-transform: capitalize;
}

